|                |   |
:----------------|---|
| **Nombre**     |Emilio Navarro   |
| **Fecha**      |  08-02-2026 |
| **Expediente** |757955   |

# Carga de datos

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [3]:
df = pd.read_excel("Aguasdesabor.xlsx")

In [4]:
df.describe()

           score
count   8.000000
mean    7.950000
std     1.467749
min     6.000000
25%     6.850000
50%     7.850000
75%     9.125000
max    10.000000

In [5]:
df.head()

   tamaño hielo     sabor  score
0  grande   sin    Kalhúa    8.2
1  grande   con    Kalhúa    9.0
2   chica   sin    Kalhúa    7.0
3   chica   con    Kalhúa    7.5
4  grande   con  Horchata   10.0

In [ ]:
df['tamaño'] = df['tamaño'].astype('category')
df['hielo'] = df['hielo'].astype('category')
df['sabor'] = df['sabor'].astype('category')

df.dtypes

tamaño    category
hielo     category
sabor     category
score      float64
dtype: object

In [10]:
COL_HIELO = "hielo"
COL_TAM   = "tamaño"
COL_SABOR = "sabor"
COL_SCORE = "score"

y = df[COL_SCORE].copy()

X = pd.DataFrame(index=df.index)

h = df[COL_HIELO].astype(str).str.strip().str.lower()
X["hielo"] = h.map({"con": 1, "sin": 0}).fillna(0).astype(int)

t = df[COL_TAM].astype(str).str.strip().str.lower()
X["tam_grande"] = t.map({"chica": 0, "grande": 1}).fillna(0).astype(int)

s = df[COL_SABOR].astype(str).str.strip().str.lower()
X["horchata"] = (s == "horchata").astype(int)
X["kahlua"]   = (s.isin(["kahlua", "kalhua"])).astype(int)

M = pd.concat([X, y.rename ("score")], axis=1)
print(M.head())

   hielo  tam_grande  horchata  kahlua  score
0      0           1         0       0    8.2
1      1           1         0       0    9.0
2      0           0         0       0    7.0
3      1           0         0       0    7.5
4      1           1         1       0   10.0

## Esto No es Valido

In [12]:
import pandas as pd

df = pd.DataFrame({
    "tamaño":   [1, 1, 0, 0, 1, 0, 0, 1],
    "hielo":    [0, 1, 0, 1, 1, 0, 1, 0],
    "kahlua":   [1, 1, 1, 1, 0, 0, 0, 0],
    "horchata": [0, 0, 0, 0, 1, 1, 1, 1],
    "score":    [8.2, 9, 7, 7.5, 10, 6, 6.4, 9.5]
})

print(df)

   tamaño  hielo  kahlua  horchata  score
0       1      0       1         0    8.2
1       1      1       1         0    9.0
2       0      0       1         0    7.0
3       0      1       1         0    7.5
4       1      1       0         1   10.0
5       0      0       0         1    6.0
6       0      1       0         1    6.4
7       1      0       0         1    9.5

In [15]:
# Usando bucles for para crear variables binarias en df
df["tam_grande"] = 0
for i in df.index:
    if t[i] == "grande":
        df.loc[i, "tam_grande"] = 1

df["hielo_con"] = 0
for i in df.index:
    if h[i] == "con":
        df.loc[i, "hielo_con"] = 1

df["sabor_horchata"] = 0
df["sabor_kahlua"] = 0
for i in df.index:
    if s[i] == "horchata":
        df.loc[i, "sabor_horchata"] = 1
    elif s[i] in ["kahlua", "kalhua", "kalhúa"]:
        df.loc[i, "sabor_kahlua"] = 1


print(df)

   tamaño hielo     sabor  score  tam_grande  hielo_con  sabor_horchata  \
0  grande   sin    Kalhúa    8.2           1          0               0
1  grande   con    Kalhúa    9.0           1          1               0
2   chica   sin    Kalhúa    7.0           0          0               0
3   chica   con    Kalhúa    7.5           0          1               0
4  grande   con  Horchata   10.0           1          1               1
5   chica   sin  Horchata    6.0           0          0               1
6   chica   con  Horchata    6.4           0          1               1
7  grande   sin  Horchata    9.5           1          0               1

   sabor_kahlua  sabor_otros
0             1            0
1             1            0
2             1            0
3             1            0
4             0            0
5             0            0
6             0            0
7             0            0

In [85]:
for i in df["tamaño"]:
    if i == "grande":
        df.loc[df["tamaño"] == "grande", "tam_grande"] = 1
    else:
        df.loc[df["tamaño"] == "chica", "tam_grande"] = 0

for i in df["hielo"]:
    if i == "con":
        df.loc[df["hielo"] == "con", "hielo_con"] = 1
    else:
        df.loc[df["hielo"] == "sin", "hielo_con"] = 0

for i in df["sabor"]:
    if i == "kahlua":
        df.loc[df["sabor"] == "kahlua", "sabor_kahlua"] = 1
    elif i == "horchata":
        df.loc[df["sabor"] == "horchata", "sabor_horchata"] = 1

# Paso 1

# Paso 1 convertir 1 y 0s, mapeo 1

In [82]:
import pandas as pd

tam = df["tamaño"].astype(str).str.strip().str.lower()
hie = df["hielo"].astype(str).str.strip().str.lower()
sab = df["sabor"].astype(str).str.strip().str.lower()

tabla = pd.DataFrame({
    "tamaño": (tam == "grande").astype(int),
    "hielo":  (hie == "con").astype(int),

    "kahlua": (df.index < 4).astype(int),

    "horchata": (sab == "horchata").astype(int),

    "score": df["score"]
})

tabla.head(8)

   tamaño  hielo  kahlua  horchata  score
0       1      0       1         0    8.2
1       1      1       1         0    9.0
2       0      0       1         0    7.0
3       0      1       1         0    7.5
4       1      1       0         1   10.0
5       0      0       0         1    6.0
6       0      1       0         1    6.4
7       1      0       0         1    9.5

In [52]:
df.head(8)

   tamaño hielo     sabor  score
0  grande   sin    Kalhúa    8.2
1  grande   con    Kalhúa    9.0
2   chica   sin    Kalhúa    7.0
3   chica   con    Kalhúa    7.5
4  grande   con  Horchata   10.0
5   chica   sin  Horchata    6.0
6   chica   con  Horchata    6.4
7  grande   sin  Horchata    9.5

In [86]:
model = LinearRegression()
model.fit(X, y)

print("Coeficientes:", model.coef_)
print("Intercepto:", model.intercept_)

Coeficientes: [2.45 0.55 0.   0.05]
Intercepto: 6.424999999999999

In [39]:
import statsmodels.api as sm

In [40]:
X_const = sm.add_constant(X)  # Agregar una constante para el intercepto
model = sm.OLS(y, X_const).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.837
Model:                            OLS   Adj. R-squared:                  0.714
Method:                 Least Squares   F-statistic:                     6.824
Date:                Thu, 12 Feb 2026   Prob (F-statistic):             0.0473
Time:                        07:25:00   Log-Likelihood:                -6.6425
No. Observations:                   8   AIC:                             21.29
Df Residuals:                       4   BIC:                             21.60
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.4250      0.555     11.575      0.000       4.884       7.966
hielo          0.5500      0.555      0.991      0.378      -0.991       2.091
tam_grande     2.4500      0.555      4.414      0.012       0.909       3.991
horchata       0.0500      0.555      0.090      0.933      -1.491       1.591
kahlua              0          0        nan        nan           0           0
==============================================================================
Omnibus:                        7.172   Durbin-Watson:                   1.431
Prob(Omnibus):                  0.028   Jarque-Bera (JB):                1.242
Skew:                          -0.048   Prob(JB):                        0.537
Kurtosis:                       1.072   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

c:\Users\Tadeo\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:430: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=8 observations were given.
  return hypotest_fun_in(*args, **kwds)
c:\Users\Tadeo\anaconda3\Lib\site-packages\statsmodels\regression\linear_model.py:1966: RuntimeWarning: divide by zero encountered in scalar divide
  return np.sqrt(eigvals[0]/eigvals[-1])

In [61]:
df["tamaño_binario_1"] = df["tamaño"].map({
    "Grande": -1,
    "Chica": 1
})

df["hielo_binario_1"] = df["hielo"].map({
    "con": -1,
    "sin": 1
})

df["sabor_kahlua"] = df["sabor"].map({
    "Kahlua": 1,
    "Horchata": 0,
})

df["sabor_horchata"] = df["sabor"].map({
    "Horchata": 1,
    "Kahlua": 0,
})

df["score"] = df["score"]

tabla_binaria_1 = df[["tamaño_binario_1", "hielo_binario_1", "sabor_kahlua", "sabor_horchata", "score"]]
tabla_binaria_1

   tamaño_binario_1  hielo_binario_1  sabor_kahlua  sabor_horchata  score
0               NaN                1           NaN             NaN    8.2
1               NaN               -1           NaN             NaN    9.0
2               NaN                1           NaN             NaN    7.0
3               NaN               -1           NaN             NaN    7.5
4               NaN               -1           0.0             1.0   10.0
5               NaN                1           0.0             1.0    6.0
6               NaN               -1           0.0             1.0    6.4
7               NaN                1           0.0             1.0    9.5

In [ ]:
import pandas as pd


tam = df["tamaño"].astype(str).str.strip().str.lower()
hie = df["hielo"].astype(str).str.strip().str.lower()
sab = df["sabor"].astype(str).str.strip().str.lower()

tabla = pd.DataFrame({
    "tam":  tam.map({"grande": -1, "chica": 1}),
    "hie":  hie.map({"sin": -1, "con": 1}),
    "kahlua": sab.isin(["kahlua", "kalhua"]).astype(int),
    "horchata": (sab == "horchata").astype(int),
    "score": df["score"]
})

tabla[["tam","hie","kahlua","horchata"]] = tabla[["tam","hie","kahlua","horchata"]].fillna(0).astype(int)

tabla.head(8)

   tam  hie  kahlua  horchata  score
0   -1   -1       0         0    8.2
1   -1    1       0         0    9.0
2    1   -1       0         0    7.0
3    1    1       0         0    7.5
4   -1    1       0         1   10.0
5    1   -1       0         1    6.0
6    1    1       0         1    6.4
7   -1   -1       0         1    9.5

# Paso 2, se usa el unicoendata para quitar acentos, se convierten -1, 1 mapeo 2

In [ ]:
import pandas as pd
import unicodedata

def norm(x):
    x = str(x).strip().lower()
    return ''.join(c for c in unicodedata.normalize("NFKD", x) if not unicodedata.combining(c))

Aguas = df.copy()

Aguas["TamanoN"] = Aguas["tamaño"].apply(norm)
Aguas["HieloN"]  = Aguas["hielo"].apply(norm)
Aguas["SaborN"]  = Aguas["sabor"].apply(norm)

Aguas["Tamano_bin_1"] = Aguas["TamanoN"].map({
    "grande": -1,
    "chica": 1
})

Aguas["Hielo_bin_1"] = Aguas["HieloN"].map({
    "con": 1,
    "sin": -1
})

Aguas["Agua_kahlua_bin_1"] = Aguas["SaborN"].map({
    "kahlua": 1,
    "kalhua": 1,      # por si viene así escrito
    "horchata": 0
}).fillna(0).astype(int)

Aguas["Agua_horchata_bin_1"] = Aguas["SaborN"].map({
    "kahlua": 0,
    "kalhua": 0,
    "horchata": 1
}).fillna(0).astype(int)

Aguas["Score"] = Aguas["score"]

tabla_binaria = Aguas[["Tamano_bin_1","Hielo_bin_1","Agua_kahlua_bin_1","Agua_horchata_bin_1","Score"]]
tabla_binaria

   Tamano_bin_1  Hielo_bin_1  Agua_kahlua_bin_1  Agua_horchata_bin_1  Score
0            -1           -1                  1                    0    8.2
1            -1            1                  1                    0    9.0
2             1           -1                  1                    0    7.0
3             1            1                  1                    0    7.5
4            -1            1                  0                    1   10.0
5             1           -1                  0                    1    6.0
6             1            1                  0                    1    6.4
7            -1           -1                  0                    1    9.5

In [ ]:
import statsmodels.api as sm

X_bin = tabla_binaria[["Tamano_bin_1", "Hielo_bin_1", "Agua_kahlua_bin_1", "Agua_horchata_bin_1"]]
X_bin = sm.add_constant(X_bin)
y_bin = tabla_binaria["Score"]

resultados_binarios = sm.OLS(y_bin, X_bin).fit()

betas_binarios = resultados_binarios.params
print("Betas - codificación binaria (-1,1):")
print(betas_binarios)

comparacion_betas = pd.DataFrame({
    "Variable": betas_binarios.index,
    "Beta_binaria_menos1_1": betas_binarios.values,
})

print(comparacion_betas)

Betas - codificación binaria (-1,1):
const                  5.300
Tamano_bin_1          -1.225
Hielo_bin_1            0.275
Agua_kahlua_bin_1      2.625
Agua_horchata_bin_1    2.675
dtype: float64
              Variable  Beta_binaria_menos1_1
0                const                  5.300
1         Tamano_bin_1                 -1.225
2          Hielo_bin_1                  0.275
3    Agua_kahlua_bin_1                  2.625
4  Agua_horchata_bin_1                  2.675

##
Se hizo codificaciones binarias para las variables categóricas, tanto en formato (0,1) como en formato (-1,1), para facilitar el análisis y la regresión lineal.
 Se han realizado regresiones lineales usando tanto la codificación (0,1) como (-1,1), para comparar el impacto de cada variable en el score.